body {
background: url("background.jpg") ;
background-size: cover;

}  
  
  /* Create two unequal columns that floats next to each other */
  .column {
    width:70%;
    float: left;
  }
  
  .left {
    width: 33%;
    background-color: transparent;
    float:center;
    padding-left: 30px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 0px;
      }
  
  .right {
    width: 10%;
    background-color: transparent; 
    float:center;
    padding-left: 40px;
    padding-right: 0px;
    padding-top: 58px;
    padding-bottom: 0%;
  }

  .keuzemenu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    position: absolute;
    left: 75px;
    top: 250px;
      background-color: transparent;
      color: rgb(0, 0, 0);
  }

  .autovoorbeeld {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 50%;
    padding-top: 200px;
  }
  
 #drophere {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    position: absolute;
    left: 600px;
    top: 100px;
      background-color: transparent;
      color: rgb(0, 0, 0);
      width:600px;
      height:600px;
  }

  .schaduw {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    position: absolute;
    left: 700px;
    top: 375px;
      background-color: transparent;
      color: rgb(0, 0, 0);
  }

.back{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:14px;
  position: absolute;
  left: 40px;
  top: 330px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border:0px;
}

.next {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:14px;
  position: absolute;
  left: 270px;
  top: 330px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border:0px;
}

  .responsive {
    max-width: 100%;
    height: auto;
  }